{% block paragraph %}
  <div{{ attributes }} style="background-image: url('{{ file_url(paragraph.field_uswds_image.entity.uri.value | image_style('hero_image')) }}');">
    {% block content %}

      <div class="grid-container">
        <div class="usa-hero__callout">
          <h1 class="usa-hero__heading">
            <span class="usa-hero__heading--alt">{{ paragraph.field_uswds_title.value }}</span>
            <span>{{ paragraph.field_uswds_subtitle.value }}</span>
          </h1>
          <span style="display:inline">{{ paragraph.field_uswds_body.value | check_markup(paragraph.field_uswds_body.format) }}</span>
          <span style="display:inline">...<a href="{{ paragraph.field_uswds_link.0.value.uri }}">{{ paragraph.field_uswds_link.0.value.title }}</a></span>

          <div><a class="usa-button {{ paragraph.field_uswds_button_style.value }}" href="{{ paragraph.field_uswds_button.0.value.uri }}">{{ paragraph.field_uswds_button.0.value.title }}</a></div>
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
