{% block paragraph %}
  {% block content %}

  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="{{ expanded }}" aria-controls="{{ controls }}">
      {{ content.field_uswds_title }}
    </button>
  </h2>
  <div id="{{ controls }}" class="usa-accordion__content usa-prose">
    {{ content|without('field_uswds_title') }}
  </div>

  {% endblock %}
{% endblock paragraph %}
