{% block paragraph %}
  {%
    set classes = [
    'usa-media-block',
    'tablet:grid-col',
  ]
  %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
{#      {{ dpm() }}#}
      <img class="usa-media-block__img"  src="{{ file_url(paragraph.field_image.entity.uri.value) }}" alt="{{ paragraph.field_image.entity.alt.value }}">
      <div class="tmp">{{ paragraph.field_image.0 }}</div>
      <div class="usa-media-block__body">
        <h2 class="usa-graphic-list__heading">{{ paragraph.field_title.value }}</h2>
        {{ content|without('field_image', 'field_title') }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}


{#{% set blah = content.field_image.attributes.addClass('usa-media-block__img') %}#}
{#      {{ content.field_image }}#}
