{#{% block paragraph %}#}
{#  <div{{ attributes }} style="background-image: url('{{ file_url(paragraph.field_uswds_image.entity.uri.value | image_style('hero_image')) }}');">#}
{#    {% block content %}#}

{#      <div class="grid-container">#}
{#        <div class="usa-hero__callout">#}
{#          <h1 class="usa-hero__heading">{{ paragraph.field_uswds_title.value }}</h1>#}
{#          {{ content|without('field_uswds_title') }}#}
{#        </div>#}
{#      </div>#}

{#    {% endblock %}#}
{#  </div>#}
{#{% endblock paragraph %}#}

{% block paragraph %}
  <div{{ attributes }} style="background-image: url('{{ file_url(paragraph.field_uswds_image.entity.uri.value | image_style('hero_image')) }}');">
    {% block content %}

      <div class="grid-container">
        <div class="usa-hero__callout">
          <h1 class="usa-hero__heading">
            <span class="usa-hero__heading--alt">{{ paragraph.field_uswds_title.value }}</span>{{ paragraph.field_uswds_subtitle.value }}
          </h1>
          <p>{{ paragraph.field_uswds_body.value }}
            {% if node.field_uswds_link.value %}
              ...<a href="{{ paragraph.field_uswds_link..0['#url'] }}">{{ paragraph.field_uswds_link.0['#title'] }}</a>
            {% endif %}
          </p>
          <a class="usa-button {{ paragraph.field_uswds_button_style.value }}" href="{{ paragraph.field_uswds_button.0['#url'] }}">{{ paragraph.field_uswds_button.0['#title'] }}</a>
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
