{% block paragraph %}
  <div{{ attributes }}>
    {% if paragraph.field_edge_to_edge.value %}
      <div {{ attributes.addClass('full-width-container') }} style="background-color:{{ content.field_background_color|render|striptags|trim }}">
        {{ kint() }}
    {% endif %}
        {% block content %}
          <div class="grid-container">
            <div class="grid-row grid-gap">
              <h2>{{ content.field_title }}</h2>
              {# Bypass field wrappers #}
              {% for key,value in paragraph.field_media_blocks.value %}
                {{ content.field_media_blocks[key] }}
              {% endfor %}
            </div>
          </div>
        {% endblock %}
    {% if paragraph.field_edge_to_edge.value %}
      </div>
    {% endif %}
  </div>
{% endblock paragraph %}
