{% block paragraph %}
  <div{{ attributes }} class="hero-slider-background" style="background-image: url('{{ file_url(paragraph.field_uswds_image.entity.uri.value | image_style('hero_image')) }}');">
    {% block content %}

      <div class="grid-container">
        <div class="usa-hero__callout">
          <h1 class="usa-hero__heading">
            <span class="usa-hero__heading--alt">{{ content.field_uswds_title }}</span>
            <span>{{ content.field_uswds_subtitle }}</span>
          </h1>
          <span {{ content.field_uswds_body }}</span>

          <div><a class="usa-button {{ paragraph.field_uswds_button_style.value }}" href="{{ paragraph.field_uswds_button.0.value.uri }}">{{ paragraph.field_uswds_button.0.value.title }}</a></div>
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
