{% if avatar %}
<div class="avatar">
  <img class="usa-collection__img" src="{{ avatar.profile_image_url }}" alt="@{{ avatar.screen_name }}" />
{#  <span>{{ avatar.name }}</span>#}
{#  <a href="{{ avatar.url }}">@{{ avatar.screen_name }}</a>#}
</div>
{% endif %}
<div class="tweet usa-collection__body">
  <div class="usa-collection__description">{{ text }}</div>
  <ul class="usa-collection__meta">
    <li class="usa-collection__meta-item usa-tag">
      <a href="{{ avatar.url }}" style="text-decoration: none;">@{{ avatar.screen_name }}</a>
    </li>
    <p><em>- <time class="timeago" datetime="{{ date.stamp }}">{{ date.clean }}</time></em></p>
  </ul>
</div>
